#results {
	display: none;
}
.card, .card-body, .text-center, .mt-5{
	background-color: rgb(158, 168, 148);
	color:rgb(37, 59, 41);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-radius: 25px;
}

.heading, .display-5, .pb-3{

		background: linear-gradient(to right,
				rgb(151, 164, 146),
				rgb(37, 59, 41));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
	}
	
	h1 {
		font-size: 40px;
		line-height: 1.1;
	}
	html {
		block-size: 100%;
		inline-size: 100%;
	}
body {
	background-image: url('money.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.input-group-addon{
	background-color:rgb(151, 164, 146);
}

